In [7]:
#Downloading the fredapi
#pip install fredapi

In [8]:
# We import Fred from the fredapi. This helps us get data straight from the 'https://fred.stlouisfed.org/' website
from fredapi import Fred

# Importing Libraries
import pandas as pd
import numpy as np

In [9]:
#My key to obtain the api
super_secret_key = '9ab9ae52f27e006f9acc6d210f76105a'

#Pulling from FRED
fred = Fred(api_key = super_secret_key)

In [10]:
#List of the Series ID

series_data = {
"CPI" : "CPIAUCSL",  #CPI US City Average
"Core_CPI" : "CPILFESL", #Core CPI US City Average
"Chicken_Breat" : "APU0000FF1101", #Average Price for Chicken Breast, Boneless per pound US City Average
"Eggs" : "APU0000708111", #Average Price Eggs, Grade A, Large (Cost per Dozen)
"Milk" : "APU0000709112", #Average Price: Milk, Fresh, Whole, Cost per gallon
"White_Bread" : "APU0000702111", # Average price of White Bread per pound 
"Gasoline_All_Types" : "CUSR0000SETB01", # All type of gsoline price
"Used_Car_and_Truck" : "CUSR0000SETA02", # Used Car Price
"New_Car" : "CUSR0000SETA01", #New Car Prices
"Federal_Funds_Rate" : "FEDFUNDS"

}

In [11]:
for series_name, series_id in series_data.items():
  series_data[series_name] = fred.get_series(series_id = series_id, observation_start = '01/01/2006')

In [12]:
print(series_data.keys())

dict_keys(['CPI', 'Core_CPI', 'Chicken_Breat', 'Eggs', 'Milk', 'White_Bread', 'Gasoline_All_Types', 'Used_Car_and_Truck', 'New_Car', 'Federal_Funds_Rate'])

In [13]:
CPI_all_values = pd.DataFrame.from_dict(series_data)

In [14]:
CPI_all_values

,CPI,Core_CPI,Chicken_Breat,Eggs,Milk,White_Bread,Gasoline_All_Types,Used_Car_and_Truck,New_Car,Federal_Funds_Rate
2006-01-01,199.300,203.200,3.307,1.449,3.197,1.046,213.200,140.300,138.000,4.29
2006-02-01,199.400,203.600,3.341,1.328,3.224,1.029,210.200,140.400,138.100,4.49
2006-03-01,199.700,204.300,3.295,1.302,3.161,1.040,208.300,140.800,137.900,4.59
2006-04-01,200.700,204.800,3.308,1.283,3.123,1.072,224.000,141.000,137.900,4.79
2006-05-01,201.300,205.400,3.236,1.206,3.066,1.086,227.500,141.100,137.700,4.94
...,...,...,...,...,...,...,...,...,...,...
2023-11-01,308.024,312.349,4.060,2.138,3.997,1.976,304.982,189.444,179.222,5.33
2023-12-01,308.742,313.209,4.082,2.507,4.008,2.024,303.242,190.570,179.551,5.33
2024-01-01,309.685,314.438,4.086,2.522,3.958,2.033,293.287,184.150,179.485,5.33
2024-02-01,311.054,315.565,4.105,2.996,3.940,2.006,304.302,185.105,179.311,5.33
2024-03-01,312.230,316.698,4.106,2.992,3.893,1.997,309.587,183.042,179.000,5.33

In [15]:
CPI_all_values.to_csv("CPI_all_values", index=True)